@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.smooth-transition {
    transition: all 0.5s ease-in-out;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
